#cabeçalho{
	background-color:blue;
	min-height:150px;
}
#logo{
	background-color:yellow;
	min-height:50px;
	margin-top:10px;
	margin-bottom:10px;
}
#menu{
	background-color:green;
	min-height:600px;
}
#central{
	background-color:purple;
	min-height:600px;
}
#rodapé{
	background-color:gray;
	min-height:150px;
	margin-top:10px;

}