#cabeçalho{
	background-color:blue;
	min-height:150px;
}
#logo{
	background-color:yellow;
	min-height:50px;
	margin-top:10px;
	margin-bottom:10px;
	text-align: center;
}
#logo ul li {
    list-style:none;
    display:inline;
    margin-left:40px;
    margin-right:50px;    
}
#logo  a{
	color:red;
	text-decoration:none;

}
#logo  a:hover{
	background-color:gray;
	color:blue;
}

#menu{
	background-color:green;
	min-height:600px;
}
#central{
	background-color:purple;
	min-height:600px;
}
#rodapé{
	background-color:gray;
	min-height:150px;
	margin-top:10px;
}